<!-- lw:if interncss -->
<style type="text/css" media="screen">
	
	.spn {
		font-family: Arial, sans-serif;
	}

	
</style>
<!-- lw:endif interncss -->

<style type="text/css" media="screen">
	.spn_red {
		color:#ff0000;
	}
	.spn_red a {
		color:#ff0000;
	}
	.spn_red a:hover;{
		color:#ff0000;
	}
	.spn_red a:visited;{
		color:#ff0000;
	}
</style>

<div class="spn">


<!-- lw:blockstart month -->
<a href="<!-- lw:var monthurl -->">&gt; Archiv <!-- lw:var description --><br/>
<!-- lw:blockend month -->
<br/>
<div class="spn_link">
<a href="<!-- lw:var backurl -->">&gt; Zur&uuml;ck zur aktuellen Liste</a>
</div>
</div>
